h1 {
  font-family: serif;
  color: darkslateblue;
  text-align: center;
  background: ;
  font-weight: bold;
  font-size: 66px;
  text-decoration: underline;
  text-decoration-color: darkslateblue;
}

h2{
  font-family: serif;
  color: darkslateblue;
  text-align: center;
  font-weight: 550;
  font-size: 42px;
  text-decoration: underline;
  text-decoration-color: darkslateblue;
  background-color:

}

body {
  background-image: url("newfit.jpg");
}

p0{  text-align: left;
  font-size: 37px;
  font-family: Georgia, serif;
    color: darkslateblue;
    font-weight: bold;
}
p{
  text-align: left;
  font-size: 25px;
  font-family: Georgia, serif;
    color: black;

    margin: auto;
    background-color: plum
}
p1{
  text-align: left;
  font-size: 25px;
  font-family: Georgia, serif;
    color: black;
    margin: auto;
    background-color:plum
}
#logo {
  height:35%;
  width:15%;
  float: left;
  background-color: plum
}


#hr1{
  padding-left: 10%;
  height: 350px;
  width: 600px;
}

#sk1{
  padding-left: 10%;
  height: 350px;
   width: 600px;

}
