h1{
  font-family: Arial;
  color: black;
  text-align: center;
}
#firstPara{
  font-family: Arial;
  color: black;
  text-align: center;
  font-weight: bold;
}
#secondPara{
  font-family: Arial;
  color: black;
  text-align: center;
  font-weight: bold;
}
#thirdPara{
  font-family: Arial;
  color: black;
  text-align: center;
  font-weight: bold;
}
#diy1{
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 30px;
}
#diy2{
  text-align: left;
  color: black;
  font-size: 24px;
}

#diy3{
<<<<<<< HEAD
  text-align:left;
=======
  text-align: center;
>>>>>>> Tips and Tricks on how to care for your Hair
  color: black;
  font-size: 26px;
  font-weight: bold;
}

#about{
  text-align: center;
  font-size: 40px;
}

img{
  width: 300px;
  height: 450px;
  text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> Tips and Tricks on how to care for your Hair
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
<<<<<<< HEAD
=======

>>>>>>> Tips and Tricks on how to care for your Hair
.larger{
  font-size: 100px
}
.big{
  font-size: 65px
}
<<<<<<< HEAD

.column {
  float: left;
  width: 22%;
  height: 300px;
  padding-right: 130px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 570px;
}

.zoom {
  font-size: 35px;
}

#i1{
    height: 350px;
    width: 400px;
  }

.row2{
  padding-top: 650px;
}
=======
>>>>>>> Tips and Tricks on how to care for your Hair
