
div{
  background-image: url("pink.jpg");

}
html {
  background-image: url("pink.jpg");
}
h2{
  text-align: center;
  font-size: 63px;
  font-family: impact;
  color: brown;
  font-weight: bold;
}
h3{
  text-align: center;
  font-size: 38px;
font-family: impact;
  color: brown;
}
p{
  text-align: left;
  font-size: 26px;
  font-family: Blippo fantasy;
  padding-top: 0.3%;
  font-family: bold;
  font-weight: 450;
  background-color: thistle;
}

p1{
  font-size: 28px;
  font-weight:bold;
  font-family: serif;
  color:mediumblue;
}

p2{
  font-size: 28px;
  font-weight: bold;
  font-family: serif;

  color:mediumblue;

}

p3{
  font-size: 28px;
  font-style: bold;
  font-weight: 900;
  font-family: serif;
  background-color: thistle;
}
p8{

  font-weight: 700;
  font-size: 28px;


}
h4{
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color:indigo;

}

h5{
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: indigo;
}

h6{
  text-align: left;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: indigo;


}

a{
  font-size: 23px;
  font-family: sans-serif;
  padding-top: 0.3%;

  background-color: violet;
  color: black

}

#i1{
    padding-left: 3%;
    padding-right: 8%;
  }

#i2{
  padding-left: 2%;
  padding-right: 3%;
  image-orientation: center;
}

#i3{
  padding-left: 8%;

}

.row{
  table-layout: fixed ;
  width: 300%;
}

*{
  box-sizing: border-box;
}

p0{
  font-size: 28px;
  font-weight:bold;
  font-family: serif;
  color:mediumblue;
  padding-bottom: 250%
}


}
