body {
  background-image: url("blue.jpg");
}

#logo {
  height:45%;
  width:20%;
  float: left;
}
h1{
  font-family: Impact;
  color: darkslateblue;
  text-align: center;
  font-size: 60px;
}

h2{
  color: white;
  padding: 19px;
  font-size: 19px;
  font-family:arial;

}

.button {
  background-color:white;
  border: none;
  color: white;
  padding: 19px;
  text-align: center;
  font-size: 34px;
}

img{
  height: 225px;
  width: 225px;
}

h3{

  font-size: 30px;
  font-weight: bolder;
  color:darkslateblue;
  text-decoration: underline;
  font-family: Impact ;
}

h4{
  color:darkslateblue;
  font-size: 21px;
  font-family: Impact ;
}
p{
  color:lavender;
  font-family: Lucida Grande;
  text-align: left;
  font-size: 16px;
  font-weight:bold;
  background-color:cornflowerblue;
}

p1{
color: darkslateblue;
font-size: 21px;
text-decoration: underline;
font-family: Impact ;
}
p2{
  color:lavender;
  font-family: Lucida Grande;
  text-align: left;
  font-size: 16px;
  font-weight:bold;

  padding-bottom: 400%;
}

#image2 {
  height:230px;
  width:280px;
  float:right;
}

#image1 {
  height:230px;
  width:270px;

}

#image3 {
  height:125%;
  width:90%;
  float:center;
}

#image4 {
  height:400px;
  width:270px;

}

#image5 {
  height:210%;
  width:105%;
}
#image7 {
  height:210%;
  width:105%;
}
#image8 {
  height:210%;
  width:105%;
}
.row{
  display: flex;
  width: 100%;
  table-layout:fixed;
}

*{
  box-sizing: border-box;
}

h5{
  color: darkslateblue;
  font-size: 30px;
  text-decoration: underline;
  font-family: Impact ;

}


h6{
color: darkslateblue;
font-size: 30px;
text-decoration: underline;
font-family: Impact ;
}

h7{
color: darkslateblue;
font-size: 21px;
text-decoration: underline;
font-family: Impact ;
}

.clear{
  clear: both;
}
