body {
  background-image: url("blue.jpg");

}
h1{
  font-family: serif;
  color: pink;
  text-align: center;
}

h2{

  color: white;
  padding: 19px;
  font-size: 19px;
  font-family: serif;

}

.button {
  background-color:white;
  border: none;
  color: white;
  padding: 19px;
  text-align: center;
  font-size: 34px;
}

img{
  height: 225px;
  width: 225px;
}

h3{

  font-size: 30px;
  font-weight: bolder;
  color: pink;
  text-decoration: underline;
}

p{
  color:aliceblue;
  font-family: arial;
  text-align: left;
  font-size: 21px;
  font-weight:bold;
}
#image2 {
  height:230px;
  width:280px;
  float:right;
}

#image1 {
  height:230px;
  width:280px;

}

#image3 {
  height:125%;
  width:90%;
  float:center;
}

#image4 {
  float: left;
  height:400px;
  width:270px;

}
.row{
  display: flex;
  width: 100%;
  table-layout:fixed;
}

*{
  box-sizing: border-box;
}
