img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#diy2{
  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

h1{
  text-align: center;
}

body {
  background-image: url("lilac.jpg");
}

.dropbtn {
  background-color:black;
  color: white;
  padding: 34px;
  font-size: 34px;
  font-family: serif;
  border: white;
  cursor: pointer;
  padding-right: 310px;
  text-align: center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

#image0 {
  width: 620px;
  height:200px;
}

#image1 {
  width: 400px;
  height:320px;
}

#image2 {
  width: 400px;
  height:270px;
  padding-bottom: 10px;
}

#image3 {
  width: 400px;
  height:300px;
  padding-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 40%;
  height: 300px;
  padding-right: 130px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row2{
  padding-top: 450px;
}
